<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Book</h1>
    	<%= render 'layouts/errors', obj: @book %>
  		<%= form_with model:@book, local:true do |f| %>
  		<div for="form-group">
  		  <label class="book_title">Title</label>
  		  <p><%= f.text_field :title %></p>
      </div>
      <div for="form-group">
        <label class="book_opinion">Opinion</label>
        <p><%= f.text_area :body %></p>
      </div>
      <div class="form-group">
        <%= f.submit 'Update Book' %>
      </div>
      <% end %>
  		<%= link_to 'Show', book_path(@book), class: "book_#{@book.id}" %>
  		<%= link_to 'Back', books_path, class: "back" %>
  	</div>
  </div>
</div>